* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f2f2f2;
}

.container {
	border: 5px solid black;
	background-color: #e6e6e6;
}

.header {
	background-color: #990000;
	color: white;
	padding: 20px;
	margin-top: 10px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

h1 {
	text-align: center;
	letter-spacing: 4px;
}

h4 {
	margin-left: 15px;
}

#space {
	border: 0px;
	opacity: 0;
}

.table {
	margin: 20px auto;
	width: 95%;
}

.delete {
	color: #990000;
	
}

.delete:hover {
	color: #bb0000;
	text-decoration: none;
}

#template {
	display: none;
}

.green {
	color: green;
	font-style: italic;
}

.red {
	color: #990000;
	font-style: italic;
}
